@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.user-avt {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 265px;
}
