<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">F8 education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between"  id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Course</a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avt"
                            src="https://yt3.ggpht.com/yti/ANoDKi4YxTaWnjMaiig-z_VehZqEj0eNCqi9BsKgq1nnYA=s88-c-k-c0x00ffffff-no-rj-mo"
                            alt="/">
                        NamNguyen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Create</a>
                        <a class="dropdown-item" href="/me/course/store">Khóa học của tôi</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>